@media(max-width:575px){
  .navbar-toggler{
    border:1px solid #fff
  }
  #banner{
    background: #222;
  }
  .navbar-collapse{
    background-color: lightskyblue;
  }
  .navbar-collapse ul{
    flex-direction: row;

  }


}


@media(min-width:576px) and  (max-width:767px){
    .navbar-toggler i{
        color: #fff;
    }
}

@media(min-width:768px) and (max-width:991px){
    .navbar-collapse{
        background-color: gray;
    }
    
    .navbar-toggler{
        border:1px solid #fff
      }
      .navbar-toggler i{
        color: #fff;
    }  
    .navbar-toggler:focus {
        box-shadow: 0 0 0 transparent !important;
    }
}

@media(min-width:992px) and (max-width:1199px){
   

}

@media(min-width:1200px) and (max-width:1399){

}
@media(min-width:1400px){

}